/* Basic reset */
body, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #dedede;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

/* Ensure logo is on top */
.logo {
    height: 100px; /* Adjust height as needed */
    margin-bottom: 10px; /* Space between logo and tabs */
}

nav {
    display: flex;
    justify-content: center;
}

.tabs {
    display: flex;
    background-color: #333; /* Background color for tabs */
    border-radius: 5px;
    overflow: hidden;
}

.tabs li {
    margin: 0;
}

.tab-link {
    display: block;
    padding: 15px 20px;
    color: white;
    background-color: #444;
    border-right: 1px solid #555;
}

.tab-link:hover, .tab-link:focus {
    background-color: #555;
}

.tab-link.active {
    background-color: #666;
}

.normal-link {
    display: block;
    padding: 15px 20px;
    color: white;
    background-color: #444;
    border-right: 1px solid #555;
}

.normal-link:hover, .tab-link:focus {
    background-color: #555;
}

.normal-link.active {
    background-color: #666;
}

main {
    padding: 20px;
}

#content-area {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
}

.page-title {
    text-align: center;
    font-size: 20px;
}

.project {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f0eee4;
}

.download-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #5c3d2a;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.download-link:hover {
    background-color: #0056b3;
}